.circle {
  animation-name: liftoff;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  /* animation-delay: 2s; */
}

@keyframes liftoff {
  0% { 
    width: 0px;
    height: 0px;
    top: 300px;
  }

}